%section.lightimage
  .container
    .row
      .inner-column
        =image_tag 'https://s3.amazonaws.com/mimistheater/mimi_logo_sm.png'
        %h1 Mimis's Community Theater

        %p.info 230 W Bay St Winter Garden, FL 34787

        = link_to "Next Showing", root_url, class: "btn btn-primary btn-lg colors"

%section.colored.colors#about
  .container
    .row
      .inner-column
        
        %h2 Let’s start a community theater in Winter Garden!
        .flex.corner-2
          =image_tag "https://s3.amazonaws.com/mimistheater/mimiandbart.jpg", class: 'img-responsive'

        %p Bart and I retired a couple years ago, then said, “Let’s start a community theater in Winter Garden”. We wanted a place where local people could get together to share their passion of live community theater. No experience or age limits! Everybody is invited to come out to play! A blessing was offered to us and everyone in the community! The Winter Garden Masonic Lodge offered us a home! A place to rehearse and to performe our shows. We are now well into our second year! Thank you to everyone that has come on board. We couldn’t have done it without you! 

        = link_to "Get Involved", root_url, class: "btn btn-primary-inverted btn-lg"
